*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.w-1400{
    width: 1400px;
    margin: 0 auto;
}

/*------------header---------------------*/

header{
    width: 1400px;
    height: 113px;
    background: #24204A;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 580px;
    font-family: Inter, sans-serif;
    position: fixed;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

header h3{
    color: #E5E5E5;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    opacity: 0.6;
}

header nav a{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.6;
}

/*-------------main-section-------------*/

.main-section{
    width: 1400px;
    height: 692px;
    background: #24204A;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 208px;
    font-family: Inter, sans-serif;
}

.main-section .button-one-posotion{
    width: 145px;
    height: 41px;
    border-radius: 8px;
    background: #4B4864;
    color: #8E88C1;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 20.8px */
    letter-spacing: 0.8px;
    margin-bottom: 32px;
}

.main-section h1{
    width: 261px;
    color: #FFF;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.8px;
    margin-bottom: 32px;
}

.main-section p{
    width: 570px;
    height: 85px;
    color: #8E88C1;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%; /* 20.8px */
    letter-spacing: 0.8px;
    margin-bottom: 32px;
}

.main-section .button-about{
    width: 200px;
    height: 56px;
    border-radius: 8px;
    background: #3F50E7;
    box-shadow: 0 6px 20px 0 rgba(0, 255, 224, 0.20);
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.main-section .purple-fon{
    width: 375px;
    height: 411px;
    border-radius: 8px;
    background: #827EAC;
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.25);
}

/*-----------advantage-section-----------------*/

.advantage-section{
    width: 1400px;
    height: 106px;
    background: #071341;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

.advantage-section :first-child{
    display: flex;
    justify-content: center;
    align-items: center;
}

.advantage-section :first-child .advantage{
    width: 175px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    margin-bottom: 50px;
}

.advantage-section :first-child .advantage h4{
    width: 38px;
    display: inline-block;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
   margin-bottom: 3px;
}

.advantage-section :first-child .advantage p{
    width: 101px;
    color: #8E88C1;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.8px;
}

.size-svg{
    width: 56px;
    height: 56px;
    border-radius: 8px;
}

.color-svg-1{
    background: #FF6853;
}

.color-svg-2{
    background: #FF537C;
}

.color-svg-3{
    background: #80D2C4;
}

.color-svg-4{
    background: #3F50E7;
}

.color-svg-5{
    background: #95CB7C;
}

/*---------product-section-----------*/

.product-section{
    width: 1400px;
    height: 658px;
    background: #071341;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

.product-section h2{
    width: 1074px;
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 116.667% */
    margin-bottom: 50px;
}

.product-section p{
    color: #8E88C1;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.8px;
    margin-bottom: 50px;
}

.product-section .cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.product-section .cards div{
    width: 208px;
    height: 206px;
    border-radius: 8px;
    border: 2px solid #8E88C1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-section .cards div p{
    width: 178px;
    color: #8E88C1;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 125% */
    letter-spacing: 0.8px;
}

/*------------map-section-------------------*/

.map-section{
    width: 1400px;
    height: 664px;
}

.map-section iframe{
    width: 100%;
    height: 100%;
}

/*-------bottom-section-------*/

.bottom-section{
    width: 1400px;
    height: 94px;
    background: #071341;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-section p{
    width: 96px;
    height: 24px;
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 200%; /* 24px */
}
